body{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    display: grid;
    background-color: rgb(41, 41, 40);
    justify-content: center;
    /* flex-direction: column; */
}
h1{
    color: white;
    position: relative;
    left: 7rem;
}
#stopwatch{
    
    border: 2px solid black;
    padding: 23px 46px;
    border-radius: 20px;
    background-color: rgb(155, 155, 155);
}
#show{
    display: flex;
}
#lapdisplay{
    border: 2px solid;
    border-radius: 5px;
    padding: 2px 10px;
    height: 20px;
    width: 10px;
    position: relative;
    top: 48px;
    font-weight: 900;
    background-color: white;
}
#display{
    text-align: center;
    margin: 20px 37px;
    border: 1px solid black;
    background-color: white;
    border-radius: 12px;
    padding: 0px 20px;
    /* background-color: aqua; */
    font-size: 50px;
    cursor: pointer;
}
#btn{
    /* background-color: blueviolet; */
    padding: 0px 26px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 3px;
}
#start,#reset,#stop,#lap,#resetlap{
    border: 1px solid black;
    cursor: pointer;
    border-radius: 10px;
    /* font-size: 20px; */
    font-weight: bold;
    font-size: 16px;
    background-color: brown;
    color: aliceblue;
}
#lapshow{
    border: 2px solid;
    height: 200px;
    overflow: auto;
    display: none;
    margin-top: 10px;
    background-color: aliceblue;
    border-radius: 5px;
}
@media only screen and (max-width: 600px) {
    body {
        overflow-x: hidden;
      }
    #stopwatch{
        margin-top: 25vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-left: 25vw;
    }
    #lapshow{
        margin-left: 25vw;
    }
  }
#laporder li{
    font-weight:700 ;
    font-size: 25px;
    margin: 5px 0px;
}
